// Stream Field
$stream-field-text-color: #EEEEEE;
$stream-field-background-color: #191919;
//--> Member
$stream-field-member-max-width: 650px;
$stream-field-member-text-color: #EEEEEE;
$stream-field-member-background-color: #101010;
//--> Member --> Quote
$stream-field-member-quote-text-color: #ccbc96;
$stream-field-member-quote-background-color: #000000;