#id_youtube_episode-FORMS > li {
  padding: 0.5em 10em 0.5em 1em;
  margin-bottom: 0.2em; }
  #id_youtube_episode-FORMS > li .controls {
    top: 0.5em; }
  #id_youtube_episode-FORMS > li fieldset {
    width: 100%; }
    #id_youtube_episode-FORMS > li fieldset .episode-title,
    #id_youtube_episode-FORMS > li fieldset .episode-id {
      padding: 0; }
      #id_youtube_episode-FORMS > li fieldset .episode-title > div > label,
      #id_youtube_episode-FORMS > li fieldset .episode-id > div > label {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        width: 25%; }
      #id_youtube_episode-FORMS > li fieldset .episode-title > div .field-content,
      #id_youtube_episode-FORMS > li fieldset .episode-id > div .field-content {
        width: 75%;
        display: inline-grid; }
        #id_youtube_episode-FORMS > li fieldset .episode-title > div .field-content .input > input,
        #id_youtube_episode-FORMS > li fieldset .episode-id > div .field-content .input > input {
          padding: 0.25em 0.5em; }
    #id_youtube_episode-FORMS > li fieldset .episode-title-value {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      padding-left: 16px; }
      #id_youtube_episode-FORMS > li fieldset .episode-title-value a {
        display: inline-block; }
      #id_youtube_episode-FORMS > li fieldset .episode-title-value i {
        display: inline-flex;
        position: absolute;
        top: 0;
        left: 0;
        color: #07d407;
        line-height: inherit; }
        #id_youtube_episode-FORMS > li fieldset .episode-title-value i:before {
          vertical-align: middle;
          line-height: inherit; }
      #id_youtube_episode-FORMS > li fieldset .episode-title-value .error {
        color: red;
        font-weight: bold; }
        #id_youtube_episode-FORMS > li fieldset .episode-title-value .error i {
          color: red; }

.loader {
  display: inline-block;
  box-sizing: border-box;
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #3498db;
  /* Blue */
  border-radius: 50%;
  font-size: inherit;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/**************************************************
    Char Field
  ***************************************************/
li.object {
  margin-bottom: 1.5em;
  padding: 0;
  /* Styles for Author selector field */ }
  li.object h2 {
    position: relative;
    background: none;
    font-weight: bold;
    font-size: 1em;
    padding: 0 0 0 3em; }
    li.object h2 label {
      padding: 0; }
    li.object h2:before,
    li.object h2 label:before {
      content: unset; }
  li.object > fieldset {
    padding: 0 !important;
    margin-left: 0 !important; }
    li.object > fieldset > .fields > li {
      margin: 0 3em;
      padding: 0; }
  li.object .multiple {
    padding-top: 0; }
    li.object .multiple > li {
      margin-left: 3em;
      padding: 0.5em;
      background-color: #f2f2f2;
      border-bottom: 2px solid rgba(181, 181, 181, 0.46); }
  li.object .add {
    margin-left: 3em !important;
    padding: 0; }
  li.object .object-help {
    margin-top: 1em;
    top: 0; }
    li.object .object-help:before {
      position: absolute; }

.fields li > .field-content {
  width: 75% !important;
  min-width: 450px; }
.fields li #id_title {
  padding: 0 12px;
  border: 1px solid grey; }
.fields li #id_subtitle {
  padding: 0.5em 12px;
  border: 1px solid grey; }
.fields li #id_article_type {
  border: 1px solid grey;
  border-radius: 0; }
.fields li #id_genre {
  border: 1px solid grey;
  border-radius: 0; }
.fields li .admin_image_chooser {
  min-height: 70px;
  background-color: #f2f2f2;
  border-bottom: 2px solid rgba(181, 181, 181, 0.46);
  margin-bottom: 0.5em;
  padding: 0.5em; }
.fields li ul.tagit {
  padding: 0.2em 12px 0 12px;
  border: 1px solid grey;
  border-radius: 0; }

/**************************************************
    Stream Field (general overrides) 
  ***************************************************/
#body-prependmenu {
  opacity: 1 !important; }

li.stream-field {
  padding-bottom: 10em;
  color: #EEEEEE;
  background-color: #191919;
  /**************************************************
    Override rich text editor so elements look like
    front end panels. These need to be updated if 
    changes were made on front end. 
  ***************************************************/ }
  li.stream-field fieldset {
    color: inherit;
    background-color: inherit;
    padding-top: 6em; }
  li.stream-field .field-content {
    width: 100%; }
  li.stream-field .sequence-member-inner {
    padding: 0 !important;
    max-width: 650px;
    margin: auto;
    transition: all 0.2s ease;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    margin-bottom: -1px; }
  li.stream-field li.sequence-member {
    border: none;
    transition: all 0.2s ease !important; }
    li.stream-field li.sequence-member:hover {
      background-color: #262626; }
      li.stream-field li.sequence-member:hover .sequence-member-inner div:first-child:before {
        opacity: 1 !important; }
  li.stream-field .stream-menu {
    background-color: inherit !important; }
  li.stream-field .stream-menu-closed {
    background-color: inherit !important; }
    li.stream-field .stream-menu-closed .toggle {
      background-color: inherit !important; }
  li.stream-field .stream-menu,
  li.stream-field .stream-menu-closed {
    opacity: 0;
    visibility: visible !important;
    transition: none; }
    li.stream-field .stream-menu .toggle,
    li.stream-field .stream-menu-closed .toggle {
      z-index: 1000;
      position: absolute;
      width: 100px;
      max-width: 650px;
      padding: 4px 0;
      font-size: 16px;
      color: inherit !important;
      background-color: transparent !important;
      text-align: center;
      border-radius: 0; }
      li.stream-field .stream-menu .toggle:before,
      li.stream-field .stream-menu-closed .toggle:before {
        background-color: inherit;
        padding: 2px;
        margin-left: -9px;
        top: -2px;
        border-radius: 50%; }
    li.stream-field .stream-menu .button,
    li.stream-field .stream-menu-closed .button {
      color: inherit !important; }
    li.stream-field .stream-menu:hover,
    li.stream-field .stream-menu-closed:hover {
      opacity: 1; }
      li.stream-field .stream-menu:hover .toggle,
      li.stream-field .stream-menu-closed:hover .toggle {
        color: #ce9016 !important; }
  li.stream-field .sequence-controls {
    top: 0;
    padding: 0;
    border: none;
    background-color: transparent; }
    li.stream-field .sequence-controls h3 {
      display: none; }
    li.stream-field .sequence-controls button {
      background-color: #d4912f;
      border: none;
      padding: 2px;
      box-sizing: content-box;
      transition: 0.2s ease all; }
      li.stream-field .sequence-controls button:hover {
        border-top: 3px solid #eeeeee; }
  li.stream-field .richtext {
    color: inherit;
    font-family: sans-serif;
    letter-spacing: 0.3px;
    line-height: 1.5em;
    padding: 0 15px !important;
    border-radius: 0 !important;
    overflow: visible;
    min-height: 1em;
    transition: 0.2s ease all; }
    li.stream-field .richtext p {
      line-height: 1.6em;
      letter-spacing: 0.4px;
      color: inherit;
      margin-bottom: 1em; }
    li.stream-field .richtext h1,
    li.stream-field .richtext h2,
    li.stream-field .richtext h3,
    li.stream-field .richtext h4,
    li.stream-field .richtext h5,
    li.stream-field .richtext h6 {
      font-weight: bold;
      position: relative;
      letter-spacing: -1px;
      margin-top: 1em;
      margin-bottom: 10px;
      color: white;
      padding: 0; }
    li.stream-field .richtext h1,
    li.stream-field .richtext h2 {
      font-size: 2.2em;
      padding-right: 15%; }
    li.stream-field .richtext h3,
    li.stream-field .richtext h4 {
      font-size: 1.8em;
      padding-right: 10%; }
    li.stream-field .richtext h5,
    li.stream-field .richtext h6 {
      font-size: 1.4em; }
    li.stream-field .richtext h2,
    li.stream-field .richtext h4,
    li.stream-field .richtext h6 {
      color: #faae18; }
    li.stream-field .richtext hr {
      border-top: 3px solid rgba(255, 255, 255, 0.5);
      border-bottom: 3px solid transparent;
      margin: 10px -8px; }
    li.stream-field .richtext a {
      text-decoration: none;
      color: #ffd889; }
      li.stream-field .richtext a:hover {
        text-decoration: underline;
        color: #faae18; }
    li.stream-field .richtext div {
      margin: 10px 0; }
    li.stream-field .richtext img {
      margin-top: 0;
      vertical-align: middle; }
    li.stream-field .richtext p,
    li.stream-field .richtext h1,
    li.stream-field .richtext h2,
    li.stream-field .richtext h3,
    li.stream-field .richtext h4,
    li.stream-field .richtext h5,
    li.stream-field .richtext h6 {
      transition: 0.2s ease all;
      border-left: 3px solid transparent;
      margin-left: -3px; }
    li.stream-field .richtext.inEditMode p,
    li.stream-field .richtext.inEditMode h1,
    li.stream-field .richtext.inEditMode h2,
    li.stream-field .richtext.inEditMode h3,
    li.stream-field .richtext.inEditMode h4,
    li.stream-field .richtext.inEditMode h5,
    li.stream-field .richtext.inEditMode h6 {
      padding-left: 6px;
      margin-left: -9px; }
    li.stream-field .richtext.inEditMode p {
      border-left: 3px solid #c18204; }
    li.stream-field .richtext.inEditMode h1 {
      border-left: 3px solid #4242F0; }
    li.stream-field .richtext.inEditMode h2 {
      border-left: 3px solid #6262E9; }
    li.stream-field .richtext.inEditMode h3 {
      border-left: 3px solid #7676EC; }
    li.stream-field .richtext.inEditMode h4 {
      border-left: 3px solid #9F9FEC; }
    li.stream-field .richtext.inEditMode h5 {
      border-left: 3px solid #60608F; }
    li.stream-field .richtext.inEditMode h6 {
      border-left: 3px solid #4D4D5C; }

.hallotoolbar {
  position: fixed !important;
  top: unset !important;
  bottom: 50px !important;
  left: 0 !important;
  right: 0 !important;
  z-index: 1001 !important;
  margin: auto auto auto 230px !important;
  width: calc(100% - 180px - 100px) !important;
  box-sizing: border-box;
  padding: 0.5em;
  background-color: rgba(177, 132, 55, 0.66);
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

@media screen and (max-width: 50em) {
  .hallotoolbar {
    margin: auto !important;
    width: 100% !important;
    padding: 0.5em !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: scroll; }
    .hallotoolbar span {
      display: table-cell; }
    .hallotoolbar > span {
      border-right: 8px solid transparent; }

  #page-edit-form footer {
    width: 100%;
    margin: auto;
    z-index: 1001; }
    #page-edit-form footer .actions {
      width: 50%; }
    #page-edit-form footer .preview {
      width: calc(50% - 1em); }
      #page-edit-form footer .preview button {
        margin: 0; }
    #page-edit-form footer .meta {
      width: 100%;
      float: left;
      text-align: left;
      padding: 4px 4px 0 4px; }
      #page-edit-form footer .meta span.avatar {
        display: none; }
      #page-edit-form footer .meta a {
        display: none; } }
/**************************************************
    CSS for custom blocks defined in:
    base/blocks/custom_blocks.py 
  ***************************************************/
li.stream-field {
  /**************************************************
    Captioned Image 
  ***************************************************/
  /**************************************************
    Image Grid 
  ***************************************************/
  /**************************************************
    Authored Block Quote
  ***************************************************/
  /**************************************************
    Clearfix 
  ***************************************************/
  /**************************************************
    Customise (Field) Blocks
  ***************************************************/
  /* Paragraph -- Rich Text Block */
  /* Raw HTML */ }
  li.stream-field label {
    color: #EEEEEE;
    width: 100%;
    padding: 0; }
  li.stream-field input,
  li.stream-field textarea,
  li.stream-field select {
    color: #EEEEEE;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #717171;
    padding: 4px !important; }
    li.stream-field input option,
    li.stream-field textarea option,
    li.stream-field select option {
      background-color: #191919; }
  li.stream-field select + span:after {
    font-size: 18px !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: transparent !important; }
  li.stream-field .fieldname-captioned_image {
    background-color: inherit;
    max-width: 650px;
    margin: auto;
    padding: 0 1.5em;
    box-sizing: border-box; }
    li.stream-field .fieldname-captioned_image:before {
      content: "image";
      position: absolute;
      right: 4px;
      padding: 1px 4px;
      background-color: #aa7b47;
      color: white;
      font-size: 10px;
      font-style: italic;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      opacity: 0; }
    li.stream-field .fieldname-captioned_image ul.fields {
      position: relative;
      min-height: 240px; }
      li.stream-field .fieldname-captioned_image ul.fields > li {
        transition: 0.2s ease all;
        /* Image Chooser Panel */
        /* Alignment Selection Panel */
        /* Width Selection Panel */
        /* Hyperlink Panel */
        /* Caption Text Panel */ }
        li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) {
          width: 100%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) label {
            display: none; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .field-content {
            width: 100%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser {
            /* There's an image selected */
            /* User hasn't selected an image */ }
            li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .chosen {
              padding-left: 0;
              text-align: center; }
              li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .chosen .preview-image {
                float: none;
                margin: auto;
                height: 200px;
                max-width: none;
                margin-bottom: -30px;
                transition: 0.2s ease all; }
                li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .chosen .preview-image img {
                  max-width: 100%;
                  max-height: none;
                  height: 100%; }
              li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .chosen .actions {
                opacity: 0; }
                li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .chosen .actions li {
                  display: inline-block;
                  float: none; }
            li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .unchosen {
              text-align: center;
              margin-top: 5em; }
              li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .unchosen:before {
                color: #5ab7b7; }
        li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(2) {
          opacity: 0;
          position: absolute;
          top: 0px;
          right: 0;
          width: 50%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(2) .fieldname-alignment {
            display: inline-block;
            width: 100%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(2):after {
            content: "* required";
            position: absolute;
            right: 0;
            bottom: 2px;
            font-size: 10px;
            color: #BE2828; }
        li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(3) {
          opacity: 0;
          position: absolute;
          top: 55px;
          right: 0;
          width: 50%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(3) .fieldname-max_width {
            width: 100%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(3):after {
            content: "* required";
            position: absolute;
            right: 0;
            bottom: 2px;
            font-size: 10px;
            color: #BE2828; }
        li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(4) {
          opacity: 0;
          position: absolute;
          top: 110px;
          right: 0;
          width: 50%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(4):after {
            content: "optional";
            position: absolute;
            right: 0;
            bottom: 2px;
            font-size: 10px;
            color: #CFCFCF; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(4) .input:before {
            /* Move the cute little hyperlink icon */
            left: unset;
            right: 0;
            top: 0; }
        li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(5) {
          opacity: 0;
          position: absolute;
          top: 165px;
          right: 0;
          width: 100%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(5):after {
            content: "optional";
            position: absolute;
            right: 0;
            bottom: 2px;
            font-size: 10px;
            color: #CFCFCF; }
        li.stream-field .fieldname-captioned_image ul.fields > li .error-message {
          text-align: center; }
    li.stream-field .fieldname-captioned_image:hover ul.fields > li {
      opacity: 1; }
      li.stream-field .fieldname-captioned_image:hover ul.fields > li:nth-child(1) {
        width: 50%; }
        li.stream-field .fieldname-captioned_image:hover ul.fields > li:nth-child(1) .preview-image {
          height: 116px !important;
          margin-bottom: 0 !important; }
        li.stream-field .fieldname-captioned_image:hover ul.fields > li:nth-child(1) .actions {
          opacity: 1 !important; }
  li.stream-field .fieldname-image_grid:before {
    content: "image grid";
    position: absolute;
    right: 4px;
    padding: 1px 4px;
    background-color: #47aa95;
    color: white;
    font-size: 10px;
    font-style: italic;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0; }
  li.stream-field .fieldname-image_grid ul.fields li label {
    display: none; }
  li.stream-field .fieldname-image_grid ul.fields,
  li.stream-field .fieldname-image_grid .sequence-container-inner {
    width: 100%; }
  li.stream-field .fieldname-image_grid > ul.fields > li {
    padding: 0;
    /* Image List Block */
    /* Alignment Choice Block */ }
    li.stream-field .fieldname-image_grid > ul.fields > li:nth-child(1) {
      transition: 0.2s ease all; }
      li.stream-field .fieldname-image_grid > ul.fields > li:nth-child(1) .icon-order-down:before {
        transform: rotateZ(-90deg); }
      li.stream-field .fieldname-image_grid > ul.fields > li:nth-child(1) .icon-order-up:before {
        transform: rotateZ(-90deg); }
      li.stream-field .fieldname-image_grid > ul.fields > li:nth-child(1) .sequence-container-inner {
        width: 100%;
        /* Account for panel-tag */
        margin-top: 10px; }
        li.stream-field .fieldname-image_grid > ul.fields > li:nth-child(1) .sequence-container-inner > ul.sequence {
          display: flex;
          align-items: center;
          justify-content: center; }
          li.stream-field .fieldname-image_grid > ul.fields > li:nth-child(1) .sequence-container-inner > ul.sequence > li {
            width: 50%; }
          li.stream-field .fieldname-image_grid > ul.fields > li:nth-child(1) .sequence-container-inner > ul.sequence .sequence-member-inner {
            border-top: none;
            border-bottom: none; }
        li.stream-field .fieldname-image_grid > ul.fields > li:nth-child(1) .sequence-container-inner > button {
          position: absolute;
          top: 50%;
          bottom: 50%;
          right: -100px;
          padding-left: 0;
          width: 35px;
          background-color: transparent; }
          li.stream-field .fieldname-image_grid > ul.fields > li:nth-child(1) .sequence-container-inner > button:before {
            background-color: #262626;
            border-radius: 50%; }
    li.stream-field .fieldname-image_grid > ul.fields > li:nth-child(2) {
      opacity: 0.5;
      position: absolute;
      right: -150px;
      bottom: 0.5em;
      width: 150px;
      transition: 0.2s ease all; }
      li.stream-field .fieldname-image_grid > ul.fields > li:nth-child(2) label {
        display: block; }
  li.stream-field .fieldname-image_grid:hover > ul.fields > li:nth-child(1) {
    opacity: 1; }
  li.stream-field .fieldname-image_grid:hover > ul.fields > li:nth-child(2) {
    opacity: 1; }
  li.stream-field .fieldname-image_grid:hover .fieldname-image_grid_item ul.fields > li {
    transition: 0.2s ease all;
    opacity: 1; }
    li.stream-field .fieldname-image_grid:hover .fieldname-image_grid_item ul.fields > li:nth-child(1) .actions {
      transition: 0.2s ease all;
      opacity: 1; }
    li.stream-field .fieldname-image_grid:hover .fieldname-image_grid_item ul.fields > li:nth-child(2) {
      transition: 0.2s ease all;
      opacity: 1; }
      li.stream-field .fieldname-image_grid:hover .fieldname-image_grid_item ul.fields > li:nth-child(2):after {
        content: "optional";
        position: absolute;
        right: 0;
        bottom: 2px;
        font-size: 10px;
        color: #CFCFCF; }
    li.stream-field .fieldname-image_grid:hover .fieldname-image_grid_item ul.fields > li:nth-child(3) {
      transition: 0.2s ease all;
      opacity: 1; }
      li.stream-field .fieldname-image_grid:hover .fieldname-image_grid_item ul.fields > li:nth-child(3):after {
        content: "optional";
        position: absolute;
        right: 0;
        bottom: 2px;
        font-size: 10px;
        color: #CFCFCF; }
  li.stream-field .fieldname-image_grid_item {
    margin: 0.5em; }
    li.stream-field .fieldname-image_grid_item > ul.fields {
      position: relative; }
      li.stream-field .fieldname-image_grid_item > ul.fields > li {
        padding: 0;
        /* Image Chooser Panel */
        /* Hyperlink Panel */
        /* Caption Panel */ }
        li.stream-field .fieldname-image_grid_item > ul.fields > li:nth-child(1) .field-content {
          padding: 0;
          border: none; }
        li.stream-field .fieldname-image_grid_item > ul.fields > li:nth-child(1) .image-chooser .chosen {
          padding-left: unset;
          line-height: 0; }
        li.stream-field .fieldname-image_grid_item > ul.fields > li:nth-child(1) .image-chooser .preview-image {
          margin: auto;
          float: unset;
          max-width: unset; }
          li.stream-field .fieldname-image_grid_item > ul.fields > li:nth-child(1) .image-chooser .preview-image img {
            width: 100%;
            max-width: unset;
            max-height: unset; }
        li.stream-field .fieldname-image_grid_item > ul.fields > li:nth-child(1) .image-chooser .actions {
          opacity: 0;
          text-align: center;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0; }
          li.stream-field .fieldname-image_grid_item > ul.fields > li:nth-child(1) .image-chooser .actions > li {
            float: unset; }
        li.stream-field .fieldname-image_grid_item > ul.fields > li:nth-child(2) {
          opacity: 0; }
          li.stream-field .fieldname-image_grid_item > ul.fields > li:nth-child(2) .field-content .input:before {
            /* Hide dumb little hyperlink icon */
            content: ''; }
          li.stream-field .fieldname-image_grid_item > ul.fields > li:nth-child(2) .field-content .input input {
            color: #eeeeee;
            background-color: transparent;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #717171;
            padding: 4px; }
        li.stream-field .fieldname-image_grid_item > ul.fields > li:nth-child(3) {
          opacity: 0; }
          li.stream-field .fieldname-image_grid_item > ul.fields > li:nth-child(3) .field-content input {
            color: #eeeeee;
            background-color: transparent;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #717171;
            padding: 4px; }
  li.stream-field .fieldname-authored_block_quote {
    margin: 0 0 0 25%; }
    li.stream-field .fieldname-authored_block_quote:before {
      content: "quote";
      position: absolute;
      right: 4px;
      padding: 1px 4px;
      background-color: #29762d;
      color: white;
      font-size: 10px;
      font-style: italic;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      opacity: 0; }
    li.stream-field .fieldname-authored_block_quote ul.fields > li {
      padding: 0;
      /* Quote Panel */
      /* Author Panel */ }
      li.stream-field .fieldname-authored_block_quote ul.fields > li label {
        display: none; }
      li.stream-field .fieldname-authored_block_quote ul.fields > li:first-child .input .richtext {
        background-color: #262626;
        border: none;
        border-left: 3px solid #ffc755;
        margin: 1em 0; }
      li.stream-field .fieldname-authored_block_quote ul.fields > li:nth-child(2) input {
        background-color: inherit;
        border: none;
        border-radius: 0;
        color: #ccbc96;
        text-align: right;
        font-style: italic;
        padding-top: 0; }
  li.stream-field .fieldname-clearfix {
    padding: 1em 15px;
    text-align: center;
    background: repeating-linear-gradient(-45deg, #262626, #262626 2px, transparent 2px, transparent 6px); }
    li.stream-field .fieldname-clearfix h3 {
      margin: 0 0 4px 0;
      color: #f3a305;
      font-weight: bold; }
    li.stream-field .fieldname-clearfix h4 {
      margin: 0;
      font-style: italic;
      color: #EEEEEE; }
  li.stream-field .fieldname-paragraph {
    max-width: 650px;
    min-height: 41px; }
    li.stream-field .fieldname-paragraph:before {
      content: "paragraph";
      position: absolute;
      right: 4px;
      padding: 1px 4px;
      background-color: #be6363;
      color: white;
      font-size: 10px;
      font-style: italic;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      opacity: 0; }
    li.stream-field .fieldname-paragraph .field-content {
      background-color: inherit;
      overflow: visible; }
  li.stream-field .fieldname-raw_html:before {
    content: "raw html";
    position: absolute;
    right: 4px;
    padding: 1px 4px;
    background-color: #4764aa;
    color: white;
    font-size: 10px;
    font-style: italic;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0; }
  li.stream-field .fieldname-raw_html .field-content {
    background-color: inherit; }
    li.stream-field .fieldname-raw_html .field-content textarea {
      max-width: 650px !important;
      margin: 10px 0 !important;
      padding: 0 15px !important;
      color: #9f9fdb !important;
      font-family: monospace; }
    li.stream-field .fieldname-raw_html .field-content:after {
      content: 'Raw HTML is dangerous. Don\'t mess around if unfamiliar!';
      float: right;
      margin-top: -10px;
      padding: 2px 6px;
      font-family: monospace;
      margin: -10px -11px 0 0;
      border-radius: 20px;
      color: transparent;
      background-color: transparent; }
  li.stream-field .fieldname-raw_html.focused .field-content:after {
    background-color: #c32d25;
    color: white; }
  li.stream-field .fieldname-embed:before {
    content: "embed";
    position: absolute;
    right: 4px;
    padding: 1px 4px;
    background-color: #8040A5;
    color: white;
    font-size: 10px;
    font-style: italic;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0; }
  li.stream-field .fieldname-embed .field-content {
    position: relative;
    margin: 2em 15px;
    width: calc(100% - 30px); }
    li.stream-field .fieldname-embed .field-content .input:before {
      content: none; }
    li.stream-field .fieldname-embed .field-content .input span {
      color: #757575;
      font-style: italic;
      margin-top: 4px;
      display: inline-block; }
    li.stream-field .fieldname-embed .field-content input {
      color: #EEEEEE;
      background-color: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #717171;
      padding: 4px; }
    li.stream-field .fieldname-embed .field-content:before {
      content: 'Embed URL:';
      font-size: 1.1em;
      line-height: 1.3em;
      font-weight: bold; }
    li.stream-field .fieldname-embed .field-content:after {
      content: "* required";
      position: absolute;
      right: 0;
      bottom: 2px;
      font-size: 10px;
      color: #BE2828; }

/*# sourceMappingURL=editor-1.1.css.map */
