#id_youtube_episode-FORMS > li {
  padding: 0.5em 10em 0.5em 1em;
  margin-bottom: 0.2em; }
  #id_youtube_episode-FORMS > li .controls {
    top: 0.5em; }
  #id_youtube_episode-FORMS > li fieldset {
    width: 100%; }
    #id_youtube_episode-FORMS > li fieldset .episode-title,
    #id_youtube_episode-FORMS > li fieldset .episode-id {
      padding: 0; }
      #id_youtube_episode-FORMS > li fieldset .episode-title > div > label,
      #id_youtube_episode-FORMS > li fieldset .episode-id > div > label {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        width: 25%; }
      #id_youtube_episode-FORMS > li fieldset .episode-title > div .field-content,
      #id_youtube_episode-FORMS > li fieldset .episode-id > div .field-content {
        width: 75%;
        display: inline-grid; }
        #id_youtube_episode-FORMS > li fieldset .episode-title > div .field-content .input > input,
        #id_youtube_episode-FORMS > li fieldset .episode-id > div .field-content .input > input {
          padding: 0.25em 0.5em; }
    #id_youtube_episode-FORMS > li fieldset .episode-title-value {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      padding-left: 16px; }
      #id_youtube_episode-FORMS > li fieldset .episode-title-value a {
        display: inline-block; }
      #id_youtube_episode-FORMS > li fieldset .episode-title-value i {
        display: inline-flex;
        position: absolute;
        top: 0;
        left: 0;
        color: #07d407;
        line-height: inherit; }
        #id_youtube_episode-FORMS > li fieldset .episode-title-value i:before {
          vertical-align: middle;
          line-height: inherit; }
      #id_youtube_episode-FORMS > li fieldset .episode-title-value .error {
        color: red;
        font-weight: bold; }
        #id_youtube_episode-FORMS > li fieldset .episode-title-value .error i {
          color: red; }

.loader {
  display: inline-block;
  box-sizing: border-box;
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #3498db;
  /* Blue */
  border-radius: 50%;
  font-size: inherit;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/**************************************************
    Char Field
  ***************************************************/
li.char_field.title .field-content input {
  padding: 0.5em 50px; }

/**************************************************
    Stream Field (general overrides) 
  ***************************************************/
#body-prependmenu {
  opacity: 1 !important; }

li.stream-field {
  /**************************************************
    Override rich text editor so elements look like
    front end panels. These need to be updated if 
    changes were made on front end. 
  ***************************************************/ }
  li.stream-field fieldset {
    color: #EEEEEE;
    background-color: #191919;
    padding-top: 6em; }
  li.stream-field .field-content {
    width: 100%; }
  li.stream-field .sequence-member-inner {
    padding: 0 !important;
    max-width: 650px;
    margin: auto;
    transition: all 0.2s ease;
    border-top: 1px solid #262626;
    border-bottom: 1px solid #262626;
    margin-bottom: -1px; }
  li.stream-field li.sequence-member {
    border: none;
    transition: all 0.2s ease !important; }
    li.stream-field li.sequence-member:hover {
      background-color: #262626; }
      li.stream-field li.sequence-member:hover .sequence-member-inner div:first-child:before {
        opacity: 1 !important; }
  li.stream-field .stream-menu {
    background-color: #191919 !important; }
  li.stream-field .stream-menu-closed {
    background-color: #191919 !important; }
    li.stream-field .stream-menu-closed .toggle {
      background-color: #191919 !important; }
  li.stream-field .stream-menu,
  li.stream-field .stream-menu-closed {
    opacity: 0;
    visibility: visible !important;
    transition: none; }
    li.stream-field .stream-menu .toggle,
    li.stream-field .stream-menu-closed .toggle {
      z-index: 1000;
      position: absolute;
      width: 100%;
      max-width: 650px;
      padding: 4px 0;
      font-size: 16px;
      color: #EEEEEE !important;
      background-color: transparent !important;
      text-align: center;
      border-radius: 0; }
      li.stream-field .stream-menu .toggle:before,
      li.stream-field .stream-menu-closed .toggle:before {
        background-color: #191919;
        padding: 2px;
        margin-left: -9px;
        top: -2px;
        border-radius: 50%; }
    li.stream-field .stream-menu .button,
    li.stream-field .stream-menu-closed .button {
      color: inherit !important; }
    li.stream-field .stream-menu:hover,
    li.stream-field .stream-menu-closed:hover {
      opacity: 1; }
      li.stream-field .stream-menu:hover .toggle,
      li.stream-field .stream-menu-closed:hover .toggle {
        color: #ce9016 !important; }
  li.stream-field .sequence-controls {
    top: 0;
    padding: 0;
    border: none;
    background-color: transparent; }
    li.stream-field .sequence-controls h3 {
      display: none; }
    li.stream-field .sequence-controls button {
      background-color: #d4912f;
      border: none;
      padding: 2px;
      box-sizing: content-box;
      transition: 0.2s ease all; }
      li.stream-field .sequence-controls button:hover {
        border-top: 3px solid #eeeeee; }
  li.stream-field .richtext {
    color: inherit;
    font-family: sans-serif;
    letter-spacing: 0.3px;
    line-height: 1.5em;
    padding: 0 15px !important;
    border-radius: 0 !important;
    overflow: visible;
    min-height: 1em; }
    li.stream-field .richtext p {
      margin: 10px 0; }
    li.stream-field .richtext h2,
    li.stream-field .richtext h3 {
      position: relative;
      font-size: 34px;
      font-weight: bold;
      line-height: 1em;
      letter-spacing: -2px; }
    li.stream-field .richtext h2 {
      color: inherit;
      padding: 10px 20% 10px 24px;
      margin: 20px -24px 15px; }
    li.stream-field .richtext h3 {
      padding-right: 15%;
      margin-top: 20px;
      margin-bottom: 10px; }
    li.stream-field .richtext h4 {
      position: relative;
      font-size: 26px;
      font-weight: bold;
      line-height: 1em;
      letter-spacing: -1px;
      padding-right: 15%;
      color: #ffc755;
      margin-top: 10px;
      margin-bottom: 10px; }
    li.stream-field .richtext h5 {
      font-size: 12px;
      line-height: 1.5em;
      letter-spacing: 0.2px;
      margin-top: 10px;
      margin-bottom: 10px; }
    li.stream-field .richtext hr {
      border-top: 3px solid rgba(255, 255, 255, 0.06);
      border-bottom: 16px solid #191919;
      margin-left: -15px;
      margin-right: -15px; }
    li.stream-field .richtext div {
      margin: 10px 0; }

.hallotoolbar {
  position: fixed !important;
  top: unset !important;
  bottom: 50px !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto auto auto 230px !important;
  width: 80% !important;
  box-sizing: border-box;
  padding: 2em;
  background-color: rgba(177, 132, 55, 0.66);
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

@media screen and (max-width: 50em) {
  .hallotoolbar {
    margin: auto !important;
    width: 90% !important;
    padding: 1em !important;
    bottom: 130px !important; } }
/**************************************************
    CSS for custom blocks defined in:
    base/blocks/custom_blocks.py 
  ***************************************************/
li.stream-field {
  /**************************************************
    Captioned Image 
  ***************************************************/
  /**************************************************
    Authored Block Quote
  ***************************************************/
  /**************************************************
    Clearfix 
  ***************************************************/
  /**************************************************
    Customise (Field) Blocks
  ***************************************************/
  /* Paragraph -- Rich Text Block */
  /* Raw HTML */ }
  li.stream-field .fieldname-captioned_image {
    background-color: inherit;
    max-width: 650px;
    margin: auto;
    padding: 0 1.5em;
    box-sizing: border-box; }
    li.stream-field .fieldname-captioned_image:before {
      content: "image";
      position: absolute;
      right: 4px;
      padding: 1px 4px;
      background-color: #aa7b47;
      color: white;
      font-size: 10px;
      font-style: italic;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      opacity: 0; }
    li.stream-field .fieldname-captioned_image ul.fields {
      position: relative;
      min-height: 180px; }
      li.stream-field .fieldname-captioned_image ul.fields > li {
        transition: 0.2s ease all;
        /* Image Chooser Panel */
        /* Alignment Selection Panel */
        /* Dimensions Panel */
        /* Caption Text Panel */ }
        li.stream-field .fieldname-captioned_image ul.fields > li label {
          color: #EEEEEE;
          width: 100%;
          padding: 0; }
        li.stream-field .fieldname-captioned_image ul.fields > li span:after {
          font-size: 18px;
          border: none;
          border-radius: 0;
          background-color: transparent; }
        li.stream-field .fieldname-captioned_image ul.fields > li input,
        li.stream-field .fieldname-captioned_image ul.fields > li textarea,
        li.stream-field .fieldname-captioned_image ul.fields > li select {
          color: #EEEEEE;
          background-color: transparent;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #717171;
          padding: 4px; }
          li.stream-field .fieldname-captioned_image ul.fields > li input option,
          li.stream-field .fieldname-captioned_image ul.fields > li textarea option,
          li.stream-field .fieldname-captioned_image ul.fields > li select option {
            background-color: #191919; }
        li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) {
          width: 100%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) label {
            display: none; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .field-content {
            width: 100%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser {
            /* There's an image selected */
            /* User hasn't selected an image */ }
            li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .chosen {
              padding-left: 0;
              text-align: center; }
              li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .chosen .preview-image {
                float: none;
                margin: auto;
                height: 144px;
                max-width: none;
                margin-bottom: -30px;
                transition: 0.2s ease all; }
                li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .chosen .preview-image img {
                  max-width: 100%;
                  max-height: none;
                  height: 100%; }
              li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .chosen .actions {
                opacity: 0; }
                li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .chosen .actions li {
                  display: inline-block;
                  float: none; }
            li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .unchosen {
              text-align: center;
              margin-top: 5em; }
              li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(1) .image-chooser .unchosen:before {
                color: #5ab7b7; }
        li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(2) {
          opacity: 0;
          position: absolute;
          top: 0px;
          right: 0;
          width: 50%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(2) .fieldname-alignment {
            display: inline-block;
            width: 100%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(2):after {
            content: "* required";
            position: absolute;
            right: 0;
            bottom: 2px;
            font-size: 10px;
            color: #BE2828; }
        li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(3) {
          opacity: 0;
          position: absolute;
          top: 55px;
          right: 0;
          width: 50%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(3) .fieldname-max_width {
            width: 100%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(3):after {
            content: "optional";
            position: absolute;
            right: 0;
            bottom: 2px;
            font-size: 10px;
            color: #CFCFCF; }
        li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(4) {
          opacity: 0;
          position: absolute;
          top: 110px;
          right: 0;
          width: 50%; }
          li.stream-field .fieldname-captioned_image ul.fields > li:nth-child(4):after {
            content: "optional";
            position: absolute;
            right: 0;
            bottom: 2px;
            font-size: 10px;
            color: #CFCFCF; }
        li.stream-field .fieldname-captioned_image ul.fields > li .error-message {
          text-align: center; }
    li.stream-field .fieldname-captioned_image:hover ul.fields > li {
      opacity: 1; }
      li.stream-field .fieldname-captioned_image:hover ul.fields > li:nth-child(1) {
        width: 50%; }
        li.stream-field .fieldname-captioned_image:hover ul.fields > li:nth-child(1) .preview-image {
          height: 116px !important;
          margin-bottom: 0 !important; }
        li.stream-field .fieldname-captioned_image:hover ul.fields > li:nth-child(1) .actions {
          opacity: 1 !important; }
  li.stream-field .fieldname-authored_block_quote {
    margin: 0 0 0 25%; }
    li.stream-field .fieldname-authored_block_quote:before {
      content: "quote";
      position: absolute;
      right: 4px;
      padding: 1px 4px;
      background-color: #29762d;
      color: white;
      font-size: 10px;
      font-style: italic;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      opacity: 0; }
    li.stream-field .fieldname-authored_block_quote ul.fields > li {
      padding: 0;
      /* Quote Panel */
      /* Author Panel */ }
      li.stream-field .fieldname-authored_block_quote ul.fields > li label {
        display: none; }
      li.stream-field .fieldname-authored_block_quote ul.fields > li:first-child .input .richtext {
        background-color: #262626;
        border: none;
        border-left: 3px solid #ffc755;
        margin: 1em 0; }
      li.stream-field .fieldname-authored_block_quote ul.fields > li:nth-child(2) input {
        background-color: inherit;
        border: none;
        border-radius: 0;
        color: #ccbc96;
        text-align: right;
        font-style: italic;
        padding-top: 0; }
  li.stream-field .fieldname-clearfix {
    padding: 1em 15px;
    text-align: center;
    background: repeating-linear-gradient(-45deg, #262626, #262626 2px, transparent 2px, transparent 6px); }
    li.stream-field .fieldname-clearfix h3 {
      margin: 0 0 4px 0;
      color: #f3a305;
      font-weight: bold; }
    li.stream-field .fieldname-clearfix h4 {
      margin: 0;
      font-style: italic;
      color: #EEEEEE; }
  li.stream-field .fieldname-paragraph {
    max-width: 650px;
    min-height: 41px; }
    li.stream-field .fieldname-paragraph:before {
      content: "paragraph";
      position: absolute;
      right: 4px;
      padding: 1px 4px;
      background-color: #be6363;
      color: white;
      font-size: 10px;
      font-style: italic;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      opacity: 0; }
    li.stream-field .fieldname-paragraph .field-content {
      background-color: inherit;
      overflow: visible; }
  li.stream-field .fieldname-raw_html:before {
    content: "raw html";
    position: absolute;
    right: 4px;
    padding: 1px 4px;
    background-color: #4764aa;
    color: white;
    font-size: 10px;
    font-style: italic;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    opacity: 0; }
  li.stream-field .fieldname-raw_html .field-content {
    background-color: inherit; }
    li.stream-field .fieldname-raw_html .field-content textarea {
      max-width: 650px !important;
      margin: 10px 0 !important;
      padding: 0 15px !important;
      color: #9f9fdb !important;
      font-family: monospace; }
    li.stream-field .fieldname-raw_html .field-content:after {
      content: 'Raw HTML is dangerous. Don\'t mess around if unfamiliar!';
      float: right;
      margin-top: -10px;
      padding: 2px 6px;
      font-family: monospace;
      margin: -10px -11px 0 0;
      border-radius: 20px;
      color: transparent;
      background-color: transparent; }
  li.stream-field .fieldname-raw_html.focused .field-content:after {
    background-color: #c32d25;
    color: white; }

/*# sourceMappingURL=editor.css.map */
