.egg-panel {
  margin: 12px 3px;
  padding: 5px;
  background-color: #101010;
  border-bottom: 3px solid rgba(234, 173, 24, 0.67); }
  .egg-panel h3 {
    color: #faae18;
    margin: 0;
    font-size: 20px; }
  .egg-panel .panel-text {
    white-space: pre-line;
    font-size: 14px; }

/* Responsive iframes */
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden; }

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%; }

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%; }

.intrinsic-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Responsive related classes for embedded blocks
   in API response stream_replace_embed */
.rich-text img {
  max-width: 100%;
  height: auto; }

.responsive-object {
  position: relative; }
  .responsive-object iframe,
  .responsive-object object,
  .responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.news-page .news-header {
  background: center center no-repeat;
  background-size: cover;
  display: block;
  text-align: center;
  color: white; }
  .news-page .news-header .news-overlay {
    background-color: rgba(54, 54, 54, 0.7);
    padding: 80px 0 60px 0; }
    .news-page .news-header .news-overlay h1,
    .news-page .news-header .news-overlay h2 {
      font-weight: bold;
      text-shadow: 0 0 20px #000;
      margin: 8px; }
    .news-page .news-header .news-overlay h2 {
      color: #faae18; }
.news-page .news-nav a {
  color: white; }
.news-page .news-nav .here {
  color: #faae18; }
.news-page .news-content {
  color: white;
  font-size: 14px; }
  .news-page .news-content h2,
  .news-page .news-content h3,
  .news-page .news-content h4,
  .news-page .news-content h5 {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0; }
  .news-page .news-content h2 {
    font-size: 24px;
    letter-spacing: 0px; }
  .news-page .news-content h3 {
    font-size: 20px; }
  .news-page .news-content h4 {
    font-size: 16px; }
  .news-page .news-content h5 {
    font-size: 14px; }
  .news-page .news-content hr {
    border-top: 1px dotted white; }
  .news-page .news-content a {
    text-decoration: none; }
    .news-page .news-content a:hover {
      text-decoration: none;
      border-bottom: 1px dotted white;
      color: #faae18; }
  .news-page .news-content blockquote {
    font-size: 14px;
    font-style: italic;
    color: #ccbc96;
    border-left: 5px solid #fdb913; }
  .news-page .news-content .content-video-container {
    max-width: 800px; }
    .news-page .news-content .content-video-container .content-video {
      width: 100%; }
  .news-page .news-content .block-captioned_image .alignment.full-width .image-container {
    display: block; }
    .news-page .news-content .block-captioned_image .alignment.full-width .image-container img {
      width: 100%;
      height: auto; }
  .news-page .news-content .block-captioned_image .alignment.left-aligned {
    text-align: left; }
  .news-page .news-content .block-captioned_image .alignment.right-aligned {
    text-align: right; }
  .news-page .news-content .block-captioned_image .alignment.centered {
    text-align: center; }
  .news-page .news-content .block-captioned_image .alignment .image-container {
    display: inline-block;
    text-align: center; }
    .news-page .news-content .block-captioned_image .alignment .image-container img {
      max-width: 100%;
      height: auto; }
  .news-page .news-content .block-captioned_image .alignment .caption {
    max-width: 300px;
    margin: auto;
    font-size: 12px;
    font-style: italic; }

/*# sourceMappingURL=ArticleRoute.css.map */
