$body-editor-max-width: 650px;
$body-editor-background: #191919;
$body-editor-panel: #101010;
$body-editor-text-color: #eeeeee;
.field-content {
  width: 100%;
}

.sequence-member-inner {
  background-color: $body-editor-background;
  padding: 8px 0 !important;
  max-width: $body-editor-max-width;
  margin: auto;
}

li.sequence-member {
  border: none;
  transition: 0.4s ease all;
  &:hover {
    background-color: #252525;
  }
}

.stream-field {
  fieldset {
    background-color: $body-editor-background;
  }
}

// Always show the (+) icons
// Why the fuck would I ever want to hide these?
// It's so fucking glitchy
.stream-menu,
.stream-menu-closed {
  opacity: 1 !important;
  visibility: visible !important;
  .toggle {
    width: 100%;
    max-width: $body-editor-max-width;
    font-size: 16px;
    color: $body-editor-text-color !important;
    background-color: #393939 !important;
    text-align: center;
  }
}

.fieldname-paragraph {
  max-width: $body-editor-max-width;
  .field-content {
    background-color: $body-editor-panel !important;
    overflow: visible;
    .richtext {
      color: $body-editor-text-color;
      font-family: sans-serif;
      letter-spacing: 0.3px;
      line-height: 1.5em;
      padding: 0 15px !important;
      border-radius: 0 !important;
      overflow: visible;
      p {
        margin: 10px 0;
      }
      h2 {
        position: relative;
        font-size: 34px;
        font-weight: bold;
        line-height: 1em;
        letter-spacing: -2px;
        color: $body-editor-text-color;
        background-color: rgba(250, 174, 24, .81);
        padding: 10px 20% 10px 24px;
        margin: 20px -24px 15px;
      }
      hr {
        border-top: 3px solid hsla(0, 0%, 100%, .06);
        border-bottom: 16px solid #191919;
        margin-left: -15px;
        margin-right: -15px;
      }
    }
  }
}

.fieldname-raw_html {
  .field-content {
    background-color: $body-editor-panel !important;
    textarea {
      max-width: $body-editor-max-width !important;
      margin: 10px 0 !important; // Since textarea doesn't use <p> it won't have margins so we gotta add them manually here.
      padding: 0 15px !important;
      color: #9f9fdb !important;
      font-family: monospace;
    }
    &:after {
      content: 'Raw HTML is dangerous. Don\'t mess around if unfamiliar!';
      float: right;
      margin-top: -10px;
      padding: 2px 6px;
      font-family: monospace;
      margin: -10px -11px 0 0;
      border-radius: 20px;
      color: transparent;
      background-color: transparent;
    }
  }
  &.focused {
    .field-content {
      &:after {
        background-color: #c32d25;
        color: white;
      }
    }
  }
}