li.title {
  .field-content {
    input {
      padding: 0.5em 50px;
    }
  }
}


/* Captioned Image Chooser Panel */

.captioned-image-block {
  background-color: #101010;
  max-width: 650px;
  margin: auto;
  padding: 0 1.5em;
  box-sizing: border-box;
  ul.fields {
    position: relative;
    min-height: 166px;
    &>li {
      label {
        color: #eeeeee;
        padding: 6px 0;
      }
      /* Image Chooser Panel */
      &:first-child {
        width: 50%;
        label {
          display: none;
        }
        .field-content {
          width: 100%;
        }
        .image-chooser {
          /* There's an image selected */
          .chosen {
            padding-left: 0;
            text-align: center;
            .preview-image {
              float: none;
              margin: auto;
              max-width: 120px;
              img {
                max-width: 120px;
                max-height: 120px;
                width: 100%;
              }
            }
            .actions {
              li {
                display: inline-block;
                float: none;
              }
            }
          }
          /* User hasn't selected an image */
          .unchosen {
            text-align: center;
            margin-top: 5em;
            &:before {
              color: #5ab7b7;
            }
          }
        }
      }
      /* Alignment Selection Panel */
      &:nth-child(2) {
        top: 0;
        select {
          padding: 5px;
        }
        span:after {
          font-size: 22px;
        }
      }
      /* Caption Text Panel */
      &:nth-child(3) {
        bottom: 0;
        input {
          padding: 5px;
        }
      }
      &:nth-child(2),
      &:nth-child(3) {
        position: absolute;
        right: 0;
        width: 50%;
        height: 50%;
        label {
          width: 83.33%
        }
      }
      .error-message {
        text-align: center;
      }
    }
  }
}