/* Slimmer rows for Live Stream > Twitch / Youtube Channels */
body {
  font-size: 12px;
  line-height: 1em;
  font-family: sans-serif; }

a {
  color: #d28900; }
  a:hover {
    color: #FFCC6D; }

.field-subscribe {
  position: relative;
  padding: 0.7em; }
  .field-subscribe ul.actions {
    position: absolute;
    top: 0;
    left: 50px;
    margin-top: 0; }

#image-results ul.listing li {
  padding: 0;
  overflow: hidden; }

header {
  background-color: #faae18; }

/* results.html */
/* results_image.html */
.image-choice {
  position: relative; }
  .image-choice .details {
    font-size: 0; }
    .image-choice .details > span {
      display: inline-block;
      padding: 1px 3px;
      margin: 4px -1px 4px 0;
      font-size: 10px;
      color: #515151;
      border: 1px solid #c9c9c9; }
      .image-choice .details > span.warning {
        color: red; }
      .image-choice .details > span > span {
        color: #9c9c9c;
        vertical-align: top;
        font-size: 8px; }

/* pagination_nav.html */
#image-results .pagination ul {
  margin-top: 0; }
  #image-results .pagination ul li {
    margin: 1em 0; }
  #image-results .pagination ul .page-num {
    display: inline-block;
    vertical-align: top; }
    #image-results .pagination ul .page-num.active {
      padding: 0px 5px;
      font-weight: bold; }
    #image-results .pagination ul .page-num a {
      padding: 10px 5px; }
  #image-results .pagination ul .prev a {
    padding: 10px 20px 10px 10px; }
  #image-results .pagination ul .next a {
    padding: 10px 10px 10px 20px; }
  #image-results .pagination ul .prev a,
  #image-results .pagination ul .next a {
    color: white;
    background-color: #e09c11;
    border-bottom: 3px solid #fdb913;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.2s ease all; }
    #image-results .pagination ul .prev a:hover,
    #image-results .pagination ul .next a:hover {
      color: white;
      background-color: #5e5e5e; }

/* _page_title_explore.html */
table.listing tr:hover td.children {
  background-color: #8fa6d9; }
  table.listing tr:hover td.children a {
    color: white; }
table.listing td {
  padding: 0.5em; }
  table.listing td.children a {
    color: #8fa6d9; }

.page-preview-thumbnail {
  display: inline-block;
  position: absolute; }

.page-details {
  display: flex;
  flex-flow: row; }
  .page-details img {
    width: 100px;
    height: 50px;
    padding-right: 10px;
    margin-left: -50px;
    /* Move into 'orderable' column as there's nothing there */ }

/* A bunch of general color style changes from default 
   Wagtail teal to eGG Yellow. */
.breadcrumb {
  background-color: #c5973c; }
  .breadcrumb li {
    height: 1.6em;
    transition: all 0.2s ease; }
  .breadcrumb li:hover {
    background: #a07c36; }
    .breadcrumb li:hover a,
    .breadcrumb li:hover span {
      color: white; }
  .breadcrumb li a,
  .breadcrumb li span {
    color: white; }
    .breadcrumb li a:after,
    .breadcrumb li span:after {
      color: white; }
  .breadcrumb li.home a {
    width: 5em; }

.listing .title h2 a:hover {
  color: #fa9d0f; }

.page-explorer .listing .index {
  background-color: #faae18; }

.page-explorer .listing .index .button,
.page-explorer .listing .index .button.bicolor {
  background: #3f3f3f; }
  .page-explorer .listing .index .button:hover,
  .page-explorer .listing .index .button.bicolor:hover {
    background-color: #f9f5dd !important;
    color: #222222; }

.page-explorer .listing .index .button,
.c-dropdown {
  border: none;
  border-radius: 25px; }
  .page-explorer .listing .index .button .c-dropdown__menu,
  .c-dropdown .c-dropdown__menu {
    padding: 0;
    border-bottom: 4px solid #e09c11; }
    .page-explorer .listing .index .button .c-dropdown__menu:before,
    .c-dropdown .c-dropdown__menu:before {
      border-width: 0.7rem; }
  .page-explorer .listing .index .button .c-dropdown__item a,
  .c-dropdown .c-dropdown__item a {
    padding: 1em 0.5em;
    display: block; }
    .page-explorer .listing .index .button .c-dropdown__item a:hover,
    .c-dropdown .c-dropdown__item a:hover {
      background-color: #c5973c;
      color: white; }

/* Various button stylings */
.button {
  font-family: sans-serif; }

.button-secondary,
.listing .button-secondary {
  color: white;
  background-color: #e09c11;
  border-color: white;
  font-family: sans-serif; }
  .button-secondary:hover,
  .listing .button-secondary:hover {
    border-color: white !important;
    background-color: #faae18 !important; }

.button.no.button-secondary:hover,
.button.serious.button-secondary:hover {
  background-color: #c60303 !important; }

header .button {
  background-color: #6e97f4;
  transition: all 0.2s ease; }
  header .button:hover {
    background-color: #8fa6d9; }

.tab-nav.merged {
  background-color: #faae18; }

.tab-nav a {
  background-color: #777777;
  border-color: #434242; }

.tab-nav li.settings a:before {
  line-height: 0; }

.t-default .u-btn-current {
  color: white;
  background-color: #e09c11;
  border-color: white;
  font-family: sans-serif; }
  .t-default .u-btn-current:hover {
    color: white;
    background-color: #faae18;
    border-color: white; }

.t-inverted {
  background-color: #3f3f3f; }
  .t-inverted > a {
    color: white;
    border: none; }
    .t-inverted > a:hover {
      border: none;
      border-radius: 25px;
      color: #222222 !important;
      background-color: #f9f5dd !important; }

.messages .success {
  background-color: #74934a; }

/*# sourceMappingURL=misc.css.map */
