{% block related_articles_panel %}

  <div class="egg-panel no-padding">
    <h3 class="padding-5">Related Articles</h3>  
    <div class="related-articles">
      <div class="related-panel margin-bot-12">
        <a href="#">
          <img src={{ thumbnail_url }} />
          <div class="related-details">
            <div class="date">10th August 2017</div>
            <div class="title">An Example Article</div>
            <div class="tags">
              <i class="fa fa-tags" aria-hidden="true"></i>
              <div class="tag">Games</div>
              <div class="tag">Are</div>
              <div class="tag">Cool</div>
            </div>
          </div>
        </a>
      </div>
      <div class="related-panel margin-bot-12">
        <a href="#">
          <img src={{ thumbnail_url }} />
          <div class="related-details">
            <div class="date">10th August 2017</div>
            <div class="title">An Example Article</div>
            <div class="tags">
              <i class="fa fa-tags" aria-hidden="true"></i>
              <div class="tag">Games</div>
              <div class="tag">Are</div>
              <div class="tag">Cool</div>
            </div>
          </div>
        </a>
      </div>
      <div class="related-panel margin-bot-12">
        <a href="#">
          <img src={{ thumbnail_url }} />
          <div class="related-details">
            <div class="date">10th August 2017</div>
            <div class="title">An Example Article</div>
            <div class="tags">
              <i class="fa fa-tags" aria-hidden="true"></i>
              <div class="tag">Games</div>
              <div class="tag">Are</div>
              <div class="tag">Cool</div>
            </div>
          </div>
        </a>
      </div>

    </div>

  </div>

{% endblock %}