/**************************************************
    Stream Field (general overrides) 
  ***************************************************/

#body-prependmenu {
  opacity: 1 !important;
}

li.stream-field {
  padding-bottom: 10em;
  color: $stream-field-text-color;
  background-color: $stream-field-background-color;
  fieldset {
    color: inherit;
    background-color: inherit;
    padding-top: 6em;
  }
  .field-content {
    width: 100%;
  }
  .sequence-member-inner {
    //background-color: $stream-field-member-background-color;
    padding: 0 !important;
    max-width: $stream-field-member-max-width;
    margin: auto;
    transition: all 0.2s ease;
    border-top: 1px solid $stream-field-border-color;
    border-bottom: 1px solid $stream-field-border-color;
    margin-bottom: -1px;
  }
  li.sequence-member {
    border: none;
    transition: all 0.2s ease !important;
    &:hover {
      background-color: lighten($stream-field-background-color, 5%);
      .sequence-member-inner {
        // display the panel-tag
        div:first-child:before {
          opacity: 1 !important;
        }
      }
    }
  } // 
  // The (+) icons to add new blocks
  // These are so fucking glitchy tbh
  .stream-menu {
    background-color: inherit !important;
  }
  .stream-menu-closed {
    background-color: inherit !important;
    .toggle {
      background-color: inherit !important;
    }
  }
  .stream-menu,
  .stream-menu-closed {
    opacity: 0;
    visibility: visible !important;
    transition: none;
    .toggle {
      z-index: 1000;
      position: absolute;
      width: 100px;
      max-width: $stream-field-member-max-width;
      padding: 4px 0;
      font-size: 16px;
      color: inherit !important;
      background-color: transparent !important;
      text-align: center; //all 0.2s ease 0.15s !important;
      border-radius: 0;
      &:before {
        background-color: inherit;
        padding: 2px;
        margin-left: -9px;
        top: -2px;
        border-radius: 50%;
      }
    }
    .button {
      color: inherit !important;
    }
    &:hover {
      opacity: 1;
      .toggle {
        color: #ce9016 !important;
      }
    }
  }
  .sequence-controls {
    top: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    h3 {
      display: none;
    }
    button {
      background-color: #d4912f;
      border: none;
      padding: 2px;
      box-sizing: content-box;
      transition: 0.2s ease all;
      &:hover {
        border-top: 3px solid #eeeeee;
      }
    }
  }
  /**************************************************
    Override rich text editor so elements look like
    front end panels. These need to be updated if 
    changes were made on front end. 
  ***************************************************/
  .richtext {
    color: inherit;
    font-family: sans-serif;
    letter-spacing: 0.3px;
    line-height: 1.5em;
    padding: 0 15px !important;
    border-radius: 0 !important;
    overflow: visible;
    min-height: 1em;
    transition: 0.2s ease all;
    p {
      margin: 0;
      margin-bottom: 1em;
    }
    h2,
    h3 {
      position: relative;
      font-size: 34px;
      font-weight: bold;
      line-height: 1em;
      letter-spacing: -2px;
    }
    h2 {
      color: inherit; //background-color: rgba(250, 174, 24, .81);
      padding: 0 20% 0 0;
      margin: 1em 0 0.5em 0;
    }
    h3 {
      padding-right: 15%;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    h4 {
      position: relative;
      font-size: 26px;
      font-weight: bold;
      line-height: 1em;
      letter-spacing: -1px;
      padding-right: 15%;
      color: #ffc755;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    h5 {
      font-size: 12px;
      line-height: 1.5em;
      letter-spacing: 0.2px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    hr {
      border-top: 3px solid rgba(255, 255, 255, 0.8);
      border-bottom: 3px solid transparent;
      margin: 10px -15px;
    }
    div {
      // sometimes newlines won't auto select to <p>
      // but when the document is saved, it auto sanitizes
      // any <div> to <p>. So instead of 'erroring' to
      // the user, just make it appear like the same.
      margin: 10px 0;
    }
    img {
      margin-top: 0;
      vertical-align: middle;
    } //
    // Left border colors for rich text editing
    // (to distinguish text elements)
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      transition: 0.2s ease all;
      border-left: 3px solid transparent;
      margin-left: -3px;
    }
    &.inEditMode {
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        padding-left: 6px;
        margin-left: -9px;
      }
    }
    &.inEditMode {
      p {
        border-left: 3px solid darken($stream-field-text-accent, 15%);
      }
      h1 {
        border-left: 3px solid #4242F0;
      }
      h2 {
        border-left: 3px solid #6262E9;
      }
      h3 {
        border-left: 3px solid #7676EC;
      }
      h4 {
        border-left: 3px solid #9F9FEC;
      }
      h5 {
        border-left: 3px solid #60608F;
      }
      h6 {
        border-left: 3px solid #4D4D5C;
      }
    }
  }
}

.hallotoolbar {
  position: fixed !important;
  top: unset !important;
  bottom: 50px !important; // height of Save Draft footer
  left: 0 !important;
  right: 0 !important;
  margin: auto auto auto 230px !important; // width of sidebar + footer left margin
  width: 80% !important;
  box-sizing: border-box;
  padding: 2em;
  background-color: rgba(177, 132, 55, 0.66);
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media screen and (max-width: 50em) {
  .hallotoolbar {
    margin: auto !important;
    width: 90% !important;
    padding: 1em !important;
    bottom: 130px !important;
  }
}