/**************************************************
    CSS for custom blocks defined in:
    base/blocks/custom_blocks.py 
  ***************************************************/

li.stream-field {
  label {
    color: $stream-field-member-text-color;
    width: 100%;
    padding: 0;
  }
  input,
  textarea,
  select {
    color: $stream-field-member-text-color;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #717171;
    padding: 4px !important;
    option {
      background-color: $stream-field-background-color;
    }
  }
  select+span:after {
    font-size: 18px !important;
    border: none !important;
    border-radius: 0 !important;
    background-color: transparent !important;
  }
  /**************************************************
    Captioned Image 
  ***************************************************/
  .fieldname-captioned_image {
    &:before {
      @include panel-tag('image', #aa7b47);
    }
    background-color: inherit;
    max-width: 650px;
    margin: auto;
    padding: 0 1.5em;
    box-sizing: border-box;
    ul.fields {
      position: relative;
      min-height: 240px;
      &>li {
        transition: 0.2s ease all;
        /* Image Chooser Panel */
        &:nth-child(1) {
          width: 100%;
          label {
            display: none;
          }
          .field-content {
            width: 100%;
          }
          .image-chooser {
            /* There's an image selected */
            .chosen {
              padding-left: 0;
              text-align: center;
              .preview-image {
                float: none;
                margin: auto;
                height: 200px;
                max-width: none;
                margin-bottom: -30px;
                transition: 0.2s ease all;
                img {
                  max-width: 100%;
                  max-height: none;
                  height: 100%;
                }
              }
              .actions {
                opacity: 0;
                li {
                  display: inline-block;
                  float: none;
                }
              }
            }
            /* User hasn't selected an image */
            .unchosen {
              text-align: center;
              margin-top: 5em;
              &:before {
                color: #5ab7b7;
              }
            }
          }
        }
        /* Alignment Selection Panel */
        &:nth-child(2) {
          opacity: 0;
          position: absolute;
          top: 0px;
          right: 0;
          width: 50%;
          .fieldname-alignment {
            display: inline-block;
            width: 100%;
          }
          &:after {
            @include input-line-tag('* required', #BE2828);
          }
        }
        /* Width Selection Panel */
        &:nth-child(3) {
          opacity: 0;
          position: absolute;
          top: 55px;
          right: 0;
          width: 50%;
          label {}
          .fieldname-max_width {
            width: 100%;
          }
          &:after {
            @include input-line-tag('* required', #BE2828);
          }
        }
        /* Hyperlink Panel */
        &:nth-child(4) {
          opacity: 0;
          position: absolute;
          top: 110px;
          right: 0;
          width: 50%;
          &:after {
            @include input-line-tag('optional', #CFCFCF);
          }
          .input:before {
            /* Move the cute little hyperlink icon */
            left: unset;
            right: 0;
            top: 0;
          }
        }
        /* Caption Text Panel */
        &:nth-child(5) {
          opacity: 0;
          position: absolute;
          top: 165px;
          right: 0;
          width: 100%;
          &:after {
            @include input-line-tag('optional', #CFCFCF);
          }
        }
        .error-message {
          text-align: center;
        }
      }
    }
    &:hover {
      ul.fields {
        &>li {
          opacity: 1;
          &:nth-child(1) {
            width: 50%;
            .preview-image {
              height: 116px !important;
              margin-bottom: 0 !important;
            }
            .actions {
              opacity: 1 !important;
            }
          }
        }
      }
    }
  }
  /**************************************************
    Image Grid 
  ***************************************************/
  .fieldname-image_grid {
    &:before {
      @include panel-tag('image grid', #47aa95);
    }
    ul.fields li label {
      display: none;
    }
    ul.fields,
    .sequence-container-inner {
      width: 100%;
    }
    &>ul.fields {
      &>li {
        padding: 0;
        /* Image List Block */
        &:nth-child(1) {
          transition: 0.2s ease all;
          .icon-order-down:before {
            transform: rotateZ(-90deg);
          }
          .icon-order-up:before {
            transform: rotateZ(-90deg);
          }
          .sequence-container-inner {
            width: 100%;
            /* Account for panel-tag */
            margin-top: 10px;
            &>ul.sequence {
              display: flex;
              align-items: center;
              justify-content: center;
              &>li {
                width: 50%;
              }
              .sequence-member-inner {
                border-top: none;
                border-bottom: none;
              }
            }
            &>button {
              position: absolute;
              top: 50%;
              bottom: 50%;
              right: -100px;
              padding-left: 0;
              width: 35px;
              background-color: transparent;
              &:before {
                background-color: lighten($stream-field-background-color, 5%);
                border-radius: 50%;
              }
            }
          }
        }
        /* Alignment Choice Block */
        &:nth-child(2) {
          opacity: 0.5;
          position: absolute;
          right: -150px;
          bottom: 0.5em;
          width: 150px;
          transition: 0.2s ease all;
          label {
            display: block;
          }
        }
      }
    }
    &:hover {
      &>ul.fields>li {
        &:nth-child(1) {
          opacity: 1;
        }
        &:nth-child(2) {
          opacity: 1;
        }
      }
      .fieldname-image_grid_item ul.fields {
        &>li {
          transition: 0.2s ease all;
          opacity: 1;
          &:nth-child(1) {
            .actions {
              transition: 0.2s ease all;
              opacity: 1;
            }
          }
          &:nth-child(2) {
            transition: 0.2s ease all;
            opacity: 1;
            &:after {
              @include input-line-tag('optional', #CFCFCF);
            }
          }
          &:nth-child(3) {
            transition: 0.2s ease all;
            opacity: 1;
            &:after {
              @include input-line-tag('optional', #CFCFCF);
            }
          }
        }
      }
    }
  }
  .fieldname-image_grid_item {
    margin: 0.5em;
    &>ul.fields {
      position: relative;
      &>li {
        padding: 0;
        /* Image Chooser Panel */
        &:nth-child(1) {
          .field-content {
            padding: 0;
            border: none;
          }
          .image-chooser {
            .chosen {
              padding-left: unset;
              line-height: 0;
            }
            .preview-image {
              margin: auto;
              float: unset;
              max-width: unset;
              img {
                width: 100%;
                max-width: unset;
                max-height: unset;
              }
            }
            .actions {
              opacity: 0;
              text-align: center;
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              &>li {
                float: unset;
              }
            }
          }
        }
        /* Hyperlink Panel */
        &:nth-child(2) {
          opacity: 0;
          .field-content {
            .input {
              &:before {
                /* Hide dumb little hyperlink icon */
                content: '';
              }
              input {
                @include clean-input();
              }
            }
          }
        }
        /* Caption Panel */
        &:nth-child(3) {
          opacity: 0;
          .field-content {
            input {
              @include clean-input();
            }
          }
        }
      }
    }
  }
  /**************************************************
    Authored Block Quote
  ***************************************************/
  .fieldname-authored_block_quote {
    &:before {
      @include panel-tag('quote', #29762d);
    }
    margin: 0 0 0 25%;
    ul.fields {
      &>li {
        padding: 0;
        label {
          display: none;
        }
        /* Quote Panel */
        &:first-child {
          .input .richtext {
            background-color: lighten($stream-field-background-color, 5%);
            border: none;
            border-left: 3px solid #ffc755;
            margin: 1em 0;
          }
        }
        /* Author Panel */
        &:nth-child(2) {
          input {
            background-color: inherit;
            border: none;
            border-radius: 0;
            color: $stream-field-member-quote-text-color;
            text-align: right;
            font-style: italic;
            padding-top: 0;
          }
        }
      }
    }
  }
  /**************************************************
    Clearfix 
  ***************************************************/
  .fieldname-clearfix {
    padding: 1em 15px;
    text-align: center;
    background: repeating-linear-gradient(-45deg, $stream-field-border-color, $stream-field-border-color 2px, transparent 2px, transparent 6px);
    h3 {
      margin: 0 0 4px 0;
      color: darken($stream-field-text-accent, 5%);
      font-weight: bold;
    }
    h4 {
      margin: 0;
      font-style: italic;
      color: $stream-field-text-color;
    }
  }
  /**************************************************
    Customise (Field) Blocks
  ***************************************************/
  /* Paragraph -- Rich Text Block */
  .fieldname-paragraph {
    max-width: $stream-field-member-max-width;
    min-height: 41px; // height of 1 paragraph + margins
    &:before {
      @include panel-tag('paragraph', #be6363);
    }
    .field-content {
      background-color: inherit;
      overflow: visible;
    }
  }
  /* Raw HTML */
  .fieldname-raw_html {
    &:before {
      @include panel-tag('raw html', #4764aa);
    }
    .field-content {
      background-color: inherit;
      textarea {
        max-width: $stream-field-member-max-width !important;
        margin: 10px 0 !important; // Since textarea doesn't use <p> it won't have margins so we gotta add them manually here.
        padding: 0 15px !important;
        color: #9f9fdb !important;
        font-family: monospace;
      }
      &:after {
        content: 'Raw HTML is dangerous. Don\'t mess around if unfamiliar!';
        float: right;
        margin-top: -10px;
        padding: 2px 6px;
        font-family: monospace;
        margin: -10px -11px 0 0;
        border-radius: 20px;
        color: transparent;
        background-color: transparent;
      }
    }
    &.focused {
      .field-content {
        &:after {
          background-color: #c32d25;
          color: white;
        }
      }
    }
  }
  .fieldname-embed {
    &:before {
      @include panel-tag('embed', #8040A5);
    }
    .field-content {
      position: relative;
      margin: 2em 15px;
      width: calc(100% - 30px);
      .input {
        &:before {
          content: none;
        }
        span {
          color: #757575;
          font-style: italic;
          margin-top: 4px;
          display: inline-block;
        }
      }
      input {
        color: $stream-field-member-text-color;
        background-color: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #717171;
        padding: 4px;
      }
      &:before {
        content: 'Embed URL:';
        font-size: 1.1em;
        line-height: 1.3em;
        font-weight: bold;
      }
      &:after {
        @include input-line-tag('* required', #BE2828);
      }
    }
  }
}