/**************************************************
    CSS for custom blocks defined in:
    base/blocks/custom_blocks.py 
  ***************************************************/

li.stream-field {
  /**************************************************
    Captioned Image 
  ***************************************************/
  .fieldname-captioned_image {
    &:before {
      @include panel-tag('image', #aa7b47);
    }
    background-color: inherit;
    max-width: 650px;
    margin: auto;
    padding: 0 1.5em;
    box-sizing: border-box;
    ul.fields {
      position: relative;
      min-height: 174px;
      &>li {
        label {
          color: $stream-field-member-text-color;
          width: 100%;
          padding: 0;
        }
        span:after {
          font-size: 18px;
          border: none;
          border-radius: 0;
          background-color: transparent;
        }
        input,
        textarea,
        select {
          color: $stream-field-member-text-color;
          background-color: transparent;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #717171;
          padding: 4px;
          option {
            background-color: $stream-field-background-color;
            ;
          }
        }
        /* Image Chooser Panel */
        &:nth-child(1) {
          width: 50%;
          label {
            display: none;
          }
          .field-content {
            width: 100%;
          }
          .image-chooser {
            /* There's an image selected */
            .chosen {
              padding-left: 0;
              text-align: center;
              .preview-image {
                float: none;
                margin: auto;
                max-width: 120px;
                img {
                  max-width: 120px;
                  max-height: 120px;
                  width: 100%;
                }
              }
              .actions {
                li {
                  display: inline-block;
                  float: none;
                }
              }
            }
            /* User hasn't selected an image */
            .unchosen {
              text-align: center;
              margin-top: 5em;
              &:before {
                color: #5ab7b7;
              }
            }
          }
        }
        /* Alignment Selection Panel */
        &:nth-child(2) {
          position: absolute;
          top: 0px;
          right: 0;
          width: 50%;
          .fieldname-alignment {
            display: inline-block;
            width: 100%;
          }
          &:after {
            @include input-line-tag('* required', #BE2828);
          }
        }
        /* Dimensions Panel */
        &:nth-child(3) {
          position: absolute;
          top: 55px;
          right: 0;
          width: 50%;
          label {}
          .fieldname-max_width {
            width: 100%;
          }
          &:after {
            @include input-line-tag('optional', #CFCFCF);
          }
        }
        /* Caption Text Panel */
        &:nth-child(4) {
          position: absolute;
          top: 110px;
          right: 0;
          width: 50%;
          &:after {
            @include input-line-tag('optional', #CFCFCF);
          }
        }
        .error-message {
          text-align: center;
        }
      }
    }
  }
  /**************************************************
    Authored Block Quote
  ***************************************************/
  .fieldname-authored_block_quote {
    &:before {
      @include panel-tag('quote', #29762d);
    }
    background-color: $stream-field-member-quote-background-color;
    margin: 0 25% 0 0;
    border-left: 5px solid #fdb913;
    ul.fields {
      &>li {
        padding: 0;
        label {
          display: none;
        }
        /* Quote Panel */
        &:first-child {
          .input .richtext {
            background-color: inherit;
            border: none;
          }
        }
        /* Author Panel */
        &:nth-child(2) {
          input {
            background-color: inherit;
            border: none;
            border-radius: 0;
            color: $stream-field-member-quote-text-color;
            text-align: right;
            font-style: italic;
          }
        }
      }
    }
  }
  /**************************************************
    Customise (Field) Blocks
  ***************************************************/
  .fieldname-paragraph {
    max-width: $stream-field-member-max-width;
    .field-content {
      background-color: inherit;
      overflow: visible;
      &:before {
        @include panel-tag('paragraph', #be6363);
      }
    }
  }
  .fieldname-raw_html {
    .field-content {
      background-color: inherit;
      textarea {
        max-width: $stream-field-member-max-width !important;
        margin: 10px 0 !important; // Since textarea doesn't use <p> it won't have margins so we gotta add them manually here.
        padding: 0 15px !important;
        color: #9f9fdb !important;
        font-family: monospace;
      }
      &:after {
        content: 'Raw HTML is dangerous. Don\'t mess around if unfamiliar!';
        float: right;
        margin-top: -10px;
        padding: 2px 6px;
        font-family: monospace;
        margin: -10px -11px 0 0;
        border-radius: 20px;
        color: transparent;
        background-color: transparent;
      }
      &:before {
        @include panel-tag('raw html', #4764aa);
      }
    }
    &.focused {
      .field-content {
        &:after {
          background-color: #c32d25;
          color: white;
        }
      }
    }
  }
}