// Programmes > Youtube Episode List
#id_youtube_episode-FORMS {
  &>li {
    padding: 0.5em 10em 0.5em 1em;
    margin-bottom: 0.2em;
    .controls {
      top: 0.5em;
    }
    fieldset {
      width: 100%;
      .episode-title,
      .episode-id {
        padding: 0;
        &>div {
          &>label {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            width: 25%;
          }
          .field-content {
            width: 75%;
            display: inline-grid;
            .input {
              &>input {
                padding: 0.25em 0.5em;
              }
            }
          }
        }
      }
      .episode-title-value {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        padding-left: 16px;
        a {
          display: inline-block;
        }
        i {
          display: inline-flex;
          position: absolute;
          top: 0;
          left: 0;
          color: #07d407;
          line-height: inherit;
          &:before {
            vertical-align: middle;
            line-height: inherit;
          }
        }
        .error {
          color: red;
          font-weight: bold;
          i {
            color: red;
          }
        }
      }
    }
  }
}

.loader {
  display: inline-block;
  box-sizing: border-box;
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #3498db;
  /* Blue */
  border-radius: 50%;
  font-size: inherit;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}